{{!------------------------------
To add a new social icon simply duplicate one of the list items from below
and change the class in the <i> tag to match the desired social network
and then add your link to the <a>. Here is a full list of social network
classes that you can use:

    icon-social-500px
    icon-social-behance
    icon-social-delicious
    icon-social-designer-news
    icon-social-deviant-art
    icon-social-digg
    icon-social-dribbble
    icon-social-facebook
    icon-social-flickr
    icon-social-forrst
    icon-social-foursquare
    icon-social-github
    icon-social-google-plus
    icon-social-hi5
    icon-social-instagram
    icon-social-lastfm
    icon-social-linkedin
    icon-social-medium
    icon-social-myspace
    icon-social-path
    icon-social-pinterest
    icon-social-rdio
    icon-social-reddit
    icon-social-skype
    icon-social-spotify
    icon-social-stack-overflow
    icon-social-steam
    icon-social-stumbleupon
    icon-social-treehouse
    icon-social-tumblr
    icon-social-twitter
    icon-social-vimeo
    icon-social-xbox
    icon-social-yelp
    icon-social-youtube
    icon-social-zerply
    icon-mail

--------------------------------}}

<nav class="navigation right">
  <ul class="social expanded">

  <!-- Twitter -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="http://twitter.com/danmaharry" title="Twitter">
      <i class='icon icon-social-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>

  <!-- Linkedin -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="http://linkedin.com/in/hmobius" title="LinkedIn">
      <i class='icon icon-social-linkedin'></i>
      <span class="label">Linkedin</span>
    </a>
  </li>

  <!-- English Overflow -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="http://careers.stackoverflow.com/danmaharry" title="Stack Overflow Careers">
      <i class='icon icon-social-stack-overflow'></i>
      <span class="label">Stack Overflow Careers</span>
    </a>
  </li>

  <!-- Flickr -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="https://www.flickr.com/photos/hmobius" title="Flickr">
      <i class='icon icon-social-flickr'></i>
      <span class="label">Flickr</span>
    </a>
  </li>

  <!-- Lastfm -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="http://www.last.fm/user/hmobius" title="LastFM">
      <i class='icon icon-social-lastfm'></i>
      <span class="label">LastFM</span>
    </a>
  </li>

  <!-- Spotify -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="https://open.spotify.com/user/hmobius" title="Spotify">
      <i class='icon icon-social-spotify'></i>
      <span class="label">Spotify</span>
    </a>
  </li>

  <!-- Mixcloud -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="https://www.mixcloud.com/sixalot/" title="Mixcloud">
      <i class='icon icon-music'></i>
      <span class="label">Mixcloud</span>
    </a>
  </li>

  <!-- Soundcloud -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="https://soundcloud.com/danmaharry" title="Soundcloud">
      <i class='icon icon-sound'></i>
      <span class="label">Soundcloud</span>
    </a>
  </li>

  <!-- RSS -->
  <li class="social item hvr-grow-rotate">
    <a href="/rss/" title="Subscribe to RSS">
      <i class='icon icon-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  <!-- Mail -->
  <li class="social item hvr-grow-rotate">
    <a href="mailto:danmaharry AT gmail.com" title="Email">
      <i class='icon icon-mail'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>
